#* @implicitly included *#
#* @vtlvariable name="WebPath" type="app.util.Path.Web" *#
#* @vtlvariable name="msg" type="app.util.MessageBundle" *#
#* @vtlvariable name="tweets" type="java.util.List" *#

