#* @implicitly included *#
#* @vtlvariable name="WebPath" type="app.util.spark.Path.Web" *#
#* @vtlvariable name="msg" type="app.util.spark.MessageBundle" *#
#* @vtlvariable name="tweets" type="java.util.List" *#

