#parse("/view/layout.vm")
#@mainLayout()
    <h1>$msg.get("INDEX_HEADING")</h1>
    <div id="index-button-bar">
        <p><a id="annotationLink" href="/annotation" > Annotation tool</a></p>
        <p><a id="keywordCrawlerLink" href="/tweet-collector" > Tweet collector</a></p>
        <p><a id="rumorCrawlerLink" href="/rumor-crawler" > Rumor crawler</a></p>
        <p><a id="tweetClassifierLink" href="/tweet-classifier" > Tweet Classifier</a></p>
        <p><a id="benchmarksLink" href="/benchmark" > Benchmarks</a></p>
    </div>
#end
