#parse("/view/layout.vm")
#@mainLayout()
<h1>$msg.get("KEYWORD_CRAWLER_HEADING")</h1>
    <ul>
            #foreach($tweet in $tweets )
                <li>
                    <blockquote class="twitter-tweet">$tweet</blockquote>
                </li>
            #end
    </ul>
    <div id="datasetInfo">
        Number of tweets crawled: $nClassified <br/>
    </div>
<script src="/keywordCrawler.js"></script>
#end

