#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
<footer>
    $msg.get("COMMON_FOOTER_TEXT")
</footer>
</body>
</html>
#end
